# Секретные ключи API
config_secrets.py

# Google API (Service Account JSON)
google_sheets_credentials.json
credentials/

*.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

results/